<h2>Tin tức</h2>
<% flash.each do |key, value| %>
<div class="row">
    <div class="col">
        <div class="alert alert-<%= key %>">
            <%= value %>
        </div>
    </div>
</div>
<% end %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <%= link_to 'Thêm tin tức', add_blog_path, :class => 'btn btn-outline-secondary' %>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tiêu đề</th>
                            <th>Lượt xem</th>
                            <th>Ngày thêm</th>
                            <th>Hình ảnh</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @blog.each do |item| -%>
                        <tr>
                            <td><%= item.id %></td>
                            <td><%= item.title %></td>                       
                            <td><%= item.view %></td>
                            <td><%= item.updated_at.strftime("%d tháng %m, %Y") %></td>
                            <td><%= image_tag(item.img.url, style: "width:150px") if item.img? %></td>
                            <td>
                                <%=link_to delete_blog_path(:id => item.id), :class=> 'btn btn-outline-warning' do %>
                                <i class="fas fa-trash-alt"></i>
                                <% end %>
                                <%=link_to edit_blog_path(:id => item.id), :class=> 'btn btn-outline-primary' do %>
                                <i class="fas fa-edit"></i>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                        
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-12">
     
    </div>
</div>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function() {
            $(this).remove();
        });
    }, 2500);
</script>