<div class="bradcam_area bradcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Tin tức du lịch</h3>
                        <p>Pixel perfect design with awesome contents</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container mt-5">
	<div class="row">
		<div class="col-md-8">
			<div class="ttdetail-title">
				<h3>6 bãi biển đẹp nhất Phú Quốc</h3>
				<div><i class="fas fa-calendar-alt"></i>Ngày đăng: 1/8/2020</div>
				<hr>
				<div class="ttdetail-gt">
					Phú Quốc sở hữu những đường bờ biển dài bất tận, có thể kể đến bãi Sao, bãi Dài, đồng thời vẫn còn rất nhiều bãi biển hoang sơ khác đẹp tựa thiên đường mang đến cảm giác yên bình, dễ chịu. Phú Quốc thực sự là điểm đến để gia đình bạn tận hưởng một kỳ nghỉ hè thật thú vị.
				</div>
				<div>
                    <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                     </ul>
				</div>
			</div>
			<div class="ttdetail-body">
				<p class="dd-name">1. Bãi Sao</p>
                <%= image_tag 'TT-PQ/bai-sao.jpg', :class => 'dd-img' %>
				<div class="dd-revw">
					Là một trong những bãi biển đẹp nhất Phú Quốc, Bãi Sao với dáng cong thoai thoải tựa như vầng trăng. Cát biển ở đây không mang màu vàng như biển Nha Trang, hay vàng đậm ngả sang nâu như biển Vũng Tàu, mà là màu trắng tinh và mịn như kem,… Bãi Sao nằm gọn trong vòng tay trìu mến của hai dải núi mang đến không gian yên tĩnh.
				</div>
				<p class="dd-name">2. Bãi dài</p>
				<%= image_tag 'TT-PQ/bai-dai.jpg', :class => 'dd-img' %>
				<div class="dd-revw">
					Nằm ở phía Tây Bắc của hòn đảo, Bãi Dài là nhân tố không thể thiếu khi nhắc đến Phú Quốc bởi vẻ đẹp hoang sơ. Bãi Dài đứng đầu trong top 13 bãi biển đẹp nhất thế giới. Nơi đây là thiên đường nắng vàng, biển xanh và những hàng dương xanh đung đưa trong gió.
				</div>
				<p class="dd-name">3. Bãi trường</p>
				<%= image_tag 'TT-PQ/bai-truong.jpg', :class => 'dd-img' %>
				<div class="dd-revw">
					Gọi là bãi Trường vì bãi nằm trải dài gần 20 km từ Dinh Cậu đến Khoé Tàu Rũ. Bãi Trường chia thành nhiều đoạn nhỏ, nối liền nhau bởi những ghềnh đá, cây xanh và làng chài thấp thoáng ẩn hiện. Đây là một trong những bãi biển đẹp nằm trên đường Trần Hưng Đạo chạy dọc theo bãi biển phía Tây nam đảo.
				</div>
				<p class="dd-name">4. Bãi Khem</p>
				<%= image_tag 'TT-PQ/bai-khem.jpg', :class => 'dd-img' %>
				<div class="dd-revw">
					Nằm phía Nam đảo Phú Quốc, cách cảng An Thới 5km, bãi Khem còn được gọi là bãi Kem. Ngoài việc sở hữu bờ cát dài trắng mịn như bột, bãi Khem luôn gây ấn tượng bởi hình dáng cánh cung, nằm tĩnh lặng và bình yên giữa hai rừng cây xanh thẫm.
				</div>
				<p class="dd-name">5. Bãi Gành Dầu</p>
				<%= image_tag 'TT-PQ/rach-vem.jpg', :class => 'dd-img' %>
				<div class="dd-revw">
					Tọa lạc ở phía Bắc Đảo, Gành Dầusở hữu vẻ đẹp nguyên sơ, bình dị và một không gian yên tĩnh, nhẹ nhàng, là một điểm đến vô cùng hấp dẫn cho những du khách đang tìm kiếm nơi nghỉ dưỡng lý tưởng để thư giãn và xả strees. Ngắm sao biển cũng là trải nghiệm hấp dẫn dành cho du khách khi có dịp đến Gành Dầu.
				</div>
			</div>
		</div>
        <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Tìm kiếm tin tức'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Tìm kiếm</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Resaurant food</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Travel news</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Modern technology</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Product</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Inspiration</p>
                                        <p>(21)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Health Care</p>
                                        <p>(21)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Bài viết gần đây</h3>
                            <div class="media post_item">
                                <%= image_tag 'TinTuc/tt1' %>
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>From life was you fish...</h3>
                                    </a>
                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <%= image_tag 'TinTuc/tt1' %>
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <%= image_tag 'TinTuc/tt1' %>
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <%= image_tag 'TinTuc/tt1' %>
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
	</div>
</div>