<div class="bradcam_area bradcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Tin tức du lịch</h3>
                        <p>Pixel perfect design with awesome contents</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid mt-5">
	<div class="row" id="tintuc">
		<div class="col-md-8">
			<div class="row mb-4">
				<div class="col-md-4">
					<a href="5-dia-diem-du-lich-da-lat.html">
                    <%= image_tag 'TinTuc/tt1.jpg', :class => 'img-tt' %>
                    </a>
				</div>
				<div class="col-md-8">
					<div class="tt-title">
						<a href="5-dia-diem-du-lich-da-lat.html">5 điểm du lịch Đà Lạt 'cực đẹp' không đi sẽ phí</a>
					</div>
					<div><i class="fas fa-calendar-alt"></i>Ngày đăng: 1/8/2020</div>
					<hr>
					<div class="tt-body">
						Đà Lạt thơ mộng với ngàn hoa khoe sắc và khí hậu ôn hòa, mát lạnh, khiến bao con tim lữ khách xao xuyến. Đà Lạt cứ thế, một chút gợi mở, một chút bí ẩn, hãy dành thời gian để tận hưởng hương vị cuộc sống qua 6 điểm du lịch “cực đẹp” dưới đây đang được giới trẻ yêu thích.
					</div>
					<div class="float-right">
						<a class="xemthem" href="5-dia-diem-du-lich-da-lat.html">Xem thêm</a>
					</div>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-md-4">
					<a href="6-bai-bien-PQ.html"><%= image_tag 'TinTuc/0-bai-sao.jpg', :class => 'img-tt' %></a>
				</div>
				<div class="col-md-8">
					<div class="tt-title">
						<a href="6-bai-bien-PQ.html">6 bãi biển đẹp nhất Phú Quốc</a>
					</div>
					<div><i class="fas fa-calendar-alt"></i>Ngày đăng: 1/8/2020</div>
					<hr>
					<div class="tt-body">
						Phú Quốc sở hữu những đường bờ biển dài bất tận, có thể kể đến bãi Sao, bãi Dài, đồng thời vẫn còn rất nhiều bãi biển hoang sơ khác đẹp tựa thiên đường mang đến cảm giác yên bình, dễ chịu. Phú Quốc thực sự là điểm đến để gia đình bạn tận hưởng một kỳ nghỉ hè thật thú vị.
					</div>
					<div class="float-right">
						<a class="xemthem" href="6-bai-bien-PQ.html">Xem thêm</a>
					</div>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-md-4">
					<a href="#"><%= image_tag 'TinTuc/halongprofile.jpg', :class => 'img-tt' %></a>
				</div>
				<div class="col-md-8">
					<div class="tt-title">
						<a href="#">Du ngoạn Vịnh Hạ Long từ không trung</a>
					</div>
					<div><i class="fas fa-calendar-alt"></i>Ngày đăng: 1/8/2020</div>
					<hr>
					<div class="tt-body">
						Thay vì chỉ có thể đứng trên du thuyền mà ngước nhìn sự hùng vĩ của vịnh Hạ Long qua một góc nhỏ thì hiện tại, với thủy phi cơ, toàn bộ khung cảnh rộng lớn đều được thu lại trong tầm mắt.
					</div>
					<div class="float-right">
						<a class="xemthem" href="#">Xem thêm</a>
					</div>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-md-4">
					<a href="#"><%= image_tag 'TinTuc/tt1.jpg', :class => 'img-tt' %></a>
				</div>
				<div class="col-md-8">
					<div class="tt-title">
						<a href="#">Trải nghiệm đẳng cấp cùng du thuyền trên biển</a>
					</div>
					<div><i class="fas fa-calendar-alt"></i>Ngày đăng: 1/8/2020</div>
					<hr>
					<div class="tt-body">
						Giờ đây, du lịch nghỉ dưỡng không chỉ đơn giản là nghỉ ngơi, thư giãn trong không gian sang trọng của những resort cao cấp mà còn nhiều hình thức hấp dẫn khác. Hè này, Vietravel sẽ đưa du khách đến với một trải nghiệm nghỉ dưỡng bằng du thuyền, hòa mình cùng thiên nhiên, bồng bềnh trên biển cả.
					</div>
					<div class="float-right">
						<a class="xemthem" href="#">Xem thêm</a>
					</div>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-md-4">
					<a href="#"><%= image_tag 'TinTuc/tt2.jpg', :class => 'img-tt' %></a>
				</div>
				<div class="col-md-8">
					<div class="tt-title">
						<a href="#">Đà Nẵng - nơi 'hẹn hò' với những cây cầu nổi tiếng đôi bờ sông Hàn</a>
					</div>
					<div><i class="fas fa-calendar-alt"></i>Ngày đăng: 1/8/2020</div>
					<hr>
					<div class="tt-body">
						Có người đã ví mỗi chuyến du lịch đến miền đất mới như một cuộc hẹn hò. Và trong chuyến khám phá thành phố Đà Nẵng, không chỉ có biển xanh, cát trắng, nắng vàng, mà bạn còn được “hẹn hò” với những cây cầu nổi tiếng nối đôi bờ sông Hàn.
					</div>
					<div class="float-right">
						<a class="xemthem" href="#">Xem thêm</a>
					</div>
				</div>
			</div>
		</div>
        <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Tìm kiếm tin tức'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Tìm kiếm</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Resaurant food</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Travel news</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Modern technology</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Product</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Inspiration</p>
                                        <p>(21)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Health Care</p>
                                        <p>(21)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Bài viết gần đây</h3>
                            <div class="media post_item">
                                <%= image_tag 'TinTuc/tt1' %>
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>From life was you fish...</h3>
                                    </a>
                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <%= image_tag 'TinTuc/tt1' %>
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <%= image_tag 'TinTuc/tt1' %>
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <%= image_tag 'TinTuc/tt1' %>
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
	</div>
</div>