<%# <div class="bradcam_area bradcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Tin tức du lịch</h3>
                        <p>Pixel perfect design with awesome contents</p>
                    </div>
                </div>
            </div>
        </div>
    </div> %>
<div class="container mt-1">
	<section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="<%= @blog.img.url%>" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>
                        <%= @blog.title%>
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fas fa-route"></i> <%= @blog.blog_category.name%></a></li>
                        <li><a href="#"><i class="fas fa-calendar-day"></i> <%= @blog.updated_at.strftime("%d tháng %m, %Y")%></a></li>
                        <li><a href="#"><i class="fas fa-eye"></i> <%= @blog.view%></a></li>
                     </ul>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           <%= raw(@blog.desc)%>
                        </div>
                     </div>
                     <p>
                        <%= raw(@blog.content)%>
                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                     </ul>
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/preview.png" alt="">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="#">
                                 <h4>Space The Final Frontier</h4>
                              </a>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="#">
                                 <h4>Telescopes 101</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/next.png" alt="">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget">
                     <form action="#">
                        <div class="form-group">
                           <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder='Search Keyword'
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập từ khoá'">
                              <div class="input-group-append">
                                 <button class="btn" type="button"><i class="ti-search"></i></button>
                              </div>
                           </div>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Tìm kiếm</button>
                     </form>
                  </aside>
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Danh mục tin tức </h4>
                     <ul class="list cat-list">
                        <% @blog_category.each do |item| %>
                                <li>
                                    <%= link_to blog_path, :class => 'd-flex' do %>
                                        <p><%= item.name%></p>
                                        <p>(<%= item.blog.count%>)</p>     
                                    <% end %> 
                                </li>
                        <% end %>
                     </ul>
                  </aside>
                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Tin tức mới nhất</h3>
                     
                     <% @recent.each do |item| %>
                        <div class="media post_item">
                           <img src="<%= item.img.url%>" alt="post">
                           <div class="media-body">
                              <a href="<%= blog_detail_path(:blog_id => item.id)%>">
                                 <h3><%= item.title%></h3>
                              </a>
                              <p><%= item.updated_at.strftime("%d tháng %m, %Y")%></p>
                        </div>
                     </div>
                     <% end %>
                     
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>