<%= stylesheet_link_tag 'tour_detail', media: 'all', 'data-turbolinks-track': 'reload' %>
        <div class="a">
            <div class="img">
                <div class="container">
                    <div class="tour-nav-tabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#thongtin">Thông tin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#hinhanh">Hình ảnh</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#datve">Đặt vé </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<div class="container">
    <div class="row">
            <div class="col-md-8">
                <div class="tab-content">
                    <div class="tour-info clearfix mb-4">
                        <div class="float-left">
                            <div class="tour-name">
                                <%= @tour.name%>
                            </div>
                            <div class="ratings">
                                <div class="rating_days d-flex ">
                                    <span class="d-flex justify-content-center align-items-center">
                                      <% for a in 1..@tour.rating %>
                                        <i class="fa fa-star"></i>
                                      <% end %>
                                      <% for a in 1..(5-@tour.rating) %>
                                        <i class="fa fa-star-o"></i>
                                      <% end %>
                                    </span>
                                    <div class="days">
                                        <i class="far fa-clock"></i>
                                        <a href="#"><%= @tour.day %> Ngày</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="float-right">
                            <div class="tour-price"><%= number_to_currency(@tour.price, unit: "", precision: 0) %> VND</div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="thongtin">
                        <div><%= image_tag (@tour.img.url) if @tour.img? %></div>
                        <div><%= raw(@tour.desc) %></div>
                    </div>
                    <div class="tab-pane fade" id="hinhanh">
                        
                        <% @tour.gallery.each do |item| %>
                            <ul class="gallery-wrap">
                                <% item.img.each do |img| %>
                                    <li>
                                        <%= image_tag(img.url) if img %>
                                    </li>           
                                <% end %>
                            </ul>
                        <% end %>
                        
                    </div>
                    <div class="tab-pane fade" id="datve">
                        <%= form_for :order, url: corder_path do |f| %>
                            <div class="card-body">
                                <%=f.hidden_field :user_id, value: session[:user_id] %>
                                <%=f.hidden_field :tour_id, value: @tour.id %>      
                                <div class="form-group">
                                    <label>Họ tên</label>
                                    <%= f.text_field :name, class: 'form-control', required: 'required', placeholder: ""%>
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <%= f.text_field :phone, class: 'form-control', required: 'required', placeholder: ""%>
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <%= f.text_field :address, class: 'form-control', required: 'required', placeholder: ""%>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <%= f.text_field :day, class: 'form-control', required: 'required', placeholder: ""%>
                                </div>
                                <div class="form-group">
                                    <label>Ghi chú</label>
                                    <%= f.text_area :note, class: 'form-control', required: 'required', placeholder: ""%>
                                </div>
                                <div class="form-group text-center">
                                <%= f.submit "Đặt tour", class: "btn btn-primary" %>
                                </div>
                                
                            </div>
                                
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Các tour liên quan</h3>
                            
                            <% @relate_tour.each do |item| %>
                                <div class="media post_item">
                                <%= image_tag(item.img.url) %>
                                    <div class="media-body">
                                        <a href="<%= tour_detail_path(:tour_id => item.id)%>">
                                            <h3><%= item.name%></h3>
                                        </a>
                                        <p><%= number_to_currency(item.price, unit: "", precision: 0) %> VND</p>
                                    </div>
                                </div>
                            <% end %>
                            
                            
                    </aside>
                </div>
                
            </div>
        </div>
    </div>