<h2>Danh sách tài khoản</h2>
<% flash.each do |key, value| %>
<div class="row">
    <div class="col">
        <div class="alert alert-<%= key %>">
            <%= value %>
        </div>
    </div>
</div>
<% end %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên người dùng</th>
                            <th>Email</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @user.each do |item| -%>
                        <tr>
                            <td><%= item.id %></td>
                            <td><%= item.name %></td>
                            <td><%= item.email %></td>
                            <td>
                                <%=link_to all_user_path, :class=> 'btn btn-outline-warning' do %>
                                <i class="fas fa-trash-alt"></i>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                        
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-12">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
</div>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function() {
            $(this).remove();
        });
    }, 2500);
</script>